@font-face {
    font-family: 'Montserrat-Thin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-Thin.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-Light.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-Regular.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-Meduim';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-Medium.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-SemiBold.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-Bold.ttf") format('ttf'),
}


@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format('ttf'),
}

@font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Montserrat/static/Montserrat-Black.ttf") format('ttf'),
}